<html>
<head>
<title>Firmata Test</title>

<link href="./styles/firmata_test.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="./scripts/libs/vue.js"></script>
<script type="text/javascript" src="./scripts/libs/math.min.js"></script>
<script type="text/javascript" src="./scripts/libs/math-extension.js"></script>

<script type="text/javascript" src="./scripts/core/android-service.js"></script>

<script type="text/javascript" src="./scripts/core/arduino.js"></script>
<script type="text/javascript" src="./scripts/core/droino-util.js"></script>
<script type="text/javascript" src="./scripts/components/ultrasonic_distance_sensor.js"></script>


<script type="text/javascript">
'use strict';
$(function(){
     
    var arduino = new Arduino();

    var US_DISTANCE_TRIG_PIN = 7;
    var US_DISTANCE_ECHO_PIN = 2;
    var distanceSensor = new UltrasonicDistanceSensor(
        arduino,
        {
            trigPin: US_DISTANCE_TRIG_PIN,
            echoPin: US_DISTANCE_ECHO_PIN
        }
    );


    var arduinoPins = [
        {name: 'pin2', pinNo:2, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin3', pinNo:3, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.PWM, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin4', pinNo:4, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin5', pinNo:5, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.PWM, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin6', pinNo:6, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.PWM, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin7', pinNo:7, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin8', pinNo:8, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin9', pinNo:9, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.PWM, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin10', pinNo:10, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.PWM, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin11', pinNo:11, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.PWM, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin12', pinNo:12, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin13', pinNo:13, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.SERVO], defaultMode: Arduino.OUTPUT},
        {name: 'pin14', pinNo:14, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.ANALOG, Arduino.SERVO], defaultMode: Arduino.ANALOG},
        {name: 'pin15', pinNo:15, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.ANALOG, Arduino.SERVO], defaultMode: Arduino.ANALOG},
        {name: 'pin16', pinNo:16, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.ANALOG, Arduino.SERVO], defaultMode: Arduino.ANALOG},
        {name: 'pin17', pinNo:17, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.ANALOG, Arduino.SERVO], defaultMode: Arduino.ANALOG},
        {name: 'pin18', pinNo:18, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.ANALOG, Arduino.SERVO], defaultMode: Arduino.ANALOG},
        {name: 'pin19', pinNo:19, modes:[Arduino.INPUT, Arduino.OUTPUT, Arduino.ANALOG, Arduino.SERVO], defaultMode: Arduino.ANALOG}
    ];

    var pinComponent = {
        template: (function() {/*
            <li> 
                <span class="pin-name">{{pin.name}}</span>
                <select 
                    v-model="crtPinMode" 
                    v-on:change="onChangeMode" 
                    class="pin-mode-select"
                    v-bind:class="[crtPinMode]">

                    <option 
                        v-for="mode in pin.modes"
                        v-bind:value="mode"
                        v-bind:mode="mode">
                        {{mode}}
                    </option>
                </select>
                <button 
                    v-if="crtPinMode === 'OUTPUT'" 
                    v-on:click="onClickOutput"
                    class="pin-output-btn"
                    v-bind:class="[crtPinOutput == 'HIGH' ? 'output-high' : 'output-low']"
                    >{{crtPinOutput}}</button>
                
                <span v-if="crtPinMode === 'PWM'" class="pwm-value"> {{pwmValue}}</span>

                
                <input 
                    v-if="crtPinMode === 'PWM'" 
                    v-model="pwmValue" 
                    v-on:input="onChangePWMValue" 
                    type="range" name="range"
                    max="255"
                    class="pwm-value-range-input">
                
                <button 
                    v-if="crtPinMode === 'INPUT'" 
                    disabled='disabled'                     
                    class="pin-input-btn"
                    v-bind:class="[crtPinInput == 'HIGH' ? 'output-high' : 'output-low']"
                    >{{crtPinInput}}</button>
                <span v-if="crtPinMode === 'ANALOG'"" class="analog-value"> {{analogInputValue}}</span>
            </li>
            */}).toString().match(/\/\*([^]*)\*\//)[1],
        props: ['pin', 'pinMode', 'pinOutput'],
        data: function(){
            return {
                crtPinMode: this.pinMode,
                crtPinOutput: this.pinOutput,
                pwmValue: 0,
                analogInputValue: 0,
                crtPinInput: Arduino.LOW
            }
        },
        computed: {
        },
        created: function(){

            // pin initialization
            arduino.pinMode(this.pin.pinNo, this.pinMode);
            if(this.pinMode === Arduino.OUTPUT)
                arduino.digitalWrite(this.pin.pinNo, this.pinOutput);


            // read setting
            var readIntervalTime = 500;
            (function (_this){
                (function updateValue(){
                    switch(_this.crtPinMode){
                        case Arduino.INPUT:
                            _this.crtPinInput = arduino.digitalRead(_this.pin.pinNo);
                            //console.log('input update ' + _this.crtPinInput);

                            break;
                        case Arduino.ANALOG:
                            _this.analogInputValue = arduino.analogRead(_this.pin.pinNo);
                            //console.log('analog input update ' + _this.analogInputValue);
                            break;
                    }
                    setTimeout( updateValue, readIntervalTime);
                })();
            })(this);
        },
        methods: {
            onChangeMode: function(){
              
                console.log('change mode ' + this.crtPinMode + ' ' + this.pin.pinNo);
                arduino.pinMode(this.pin.pinNo ,this.crtPinMode);

            },
            onClickOutput: function(){
                this.crtPinOutput = this.crtPinOutput === Arduino.HIGH ? Arduino.LOW : Arduino.HIGH;
                console.log('click output ' + this.crtPinOutput);
                arduino.digitalWrite(this.pin.pinNo, this.crtPinOutput);
            },
            onChangePWMValue: function(e){
                console.log('PWM value change ');
                console.log(this.pwmValue); // 0-100
                arduino.analogWrite(this.pin.pinNo, Math.floor(this.pwmValue));

            }
        }
    };

    var pinList = new Vue({
        el: '#pin-list',
        data: {
            pinList: arduinoPins,
            outputDefault: Arduino.LOW
        },
        components: {
            'pinComponent': pinComponent
        } 
    });

    var sysexStringComponent = {
        template: `
            <li>
                <button 
                    v-on:click="onClickSysexString"
                    class="string-send-button"
                    >send string</button>
                <input 
                    v-model="str"
                    class="sysex-str-input"
                />
            </li>`,
        data: function(){
            return {
                str: ""
            };
        },
        methods: {
            onClickSysexString: function(){
                var str = this.str;
                console.log(str);
                arduino.sendString(str);
            }
        }
    };

    var sysexCmdComponent = {
        template: `
            <li>
                <button 
                    v-on:click="onClickSysexCmd"
                    class="sysex-cmd-button"
                    >send sysex cmd</button>
            </li>`,
        methods: {
            onClickSysexCmd: function(){
                distanceSensor.measure()
                .then(function(distance){
                    console.log(distance);

                }).catch(function(bytes){
                    console.warn(bytes);
                });
            }
        }
    };


     var sysex = new Vue({
        el: '#sysex-container',
        components: {
           'sysexStringComponent': sysexStringComponent,
            'sysexCmdComponent': sysexCmdComponent
        } 
    });
       
});
        
</script>
</head>
<body>
    <div class="info">
        <h2> Firmata Test For Androino.</h2>
    </div>
    <div class="test-container">
        <ul id="pin-list">
            <pin-component 
                v-for='(pin, index) in pinList'
                v-bind:pin='pin'
                v-bind:pin-mode='pin.defaultMode'
                v-bind:pin-output='outputDefault'
                v-bind:key='index'
                class="pin-component"
            ></pin-component>
        </ul>

        <ul id="sysex-container">
            <sysex-string-component > 
            </sysex-string-component>

            <sysex-cmd-component
                class="sysex-cmd-component">        
            </sysex-cmd-component>
        </ul>

    </div>

    <a href="javascript:history.back()">Go Back</a>

    
</body>
</html>