#pin-list {
	list-style: none;
    padding: 0;
}
.pin-name {
	width: 45px;
    padding-left: 10px;
    display: inline-block;
}

.pin-mode-select {	
    color: #fff;
   background: -webkit-linear-gradient(#779126, #779126 40%, #4a5a19);
    background-color: #445803;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;

}