#pin-list {
	list-style: none;
    padding: 0;
}
.pin-component {
	padding: 1px;
}

.pin-component:nth-child(2n) {
	background-color: gainsboro;
}

.pin-name {
	width: 45px;
    padding-left: 10px;
    display: inline-block;
}

.pin-mode-select {	
	height: 26px;
	width: 110px;
	color: #fff;
   	background: -webkit-linear-gradient(#779126, #779126 40%, #4a5a19);
    background-color: #445803;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;

}

.pin-mode-select.OUTPUT {	
	background: -webkit-linear-gradient(#f5b4db, #af7b95 40%, #c32e96);
    background-color: #af7b95;
}

.pin-mode-select.INPUT {	
	background: -webkit-linear-gradient(#8faece, #3d6973 40%, #213d48);
	background-color: #3d6973;
}

.pin-mode-select.SERVO {	
	background: -webkit-linear-gradient(#f7662f, #a26304 40%, #882b00);
	background-color: #a26304;
}

.pwm-value-range-input {
	height: 10px;
}

.pwm-value {
	display: inline-block;
    width: 20px;
    text-align: right;
    font-size: 14px;
}

.pwm-value-range-input[type="range"] {
 	-webkit-appearance: none;
 	appearance: none;
    background-color: #000000;
    height: 4px;
    border-radius: 6px;

  &:focus,
  &:active {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid #fb5986;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}


button.pin-output-btn,
button.pin-input-btn {
	width: 100px;
}

button.pin-output-btn.output-high,
button.pin-input-btn.output-high {
	background-color: #ffcfcf;

}

button.pin-output-btn.output-low,
button.pin-input-btn.output-low {
	background-color: #cfe2ff;

}

#sysex-container {
	list-style: none;
    padding: 0;
}

.string-send-button {
	background-color: #4a0a0a;
    color: white;
    height: 30px;
    border-radius: 4px;
	background: -webkit-linear-gradient(#901b00, #860000 40%, #380000);    
}

.sysex-str-input {
	height: 30px;
	border-radius: 4px; 

}

.sysex-cmd-component {
	height: 30px;
    margin-top: 5px;
}

.sysex-cmd-button {
	height: 30px;
    border-radius: 4px;
    background-color: #273e24;
    color: white;
    background: -webkit-linear-gradient(#528a1f, #4c5a1f 40%, #13270e);
}
